.FloatCard {
  background: white;
  border-radius: 5px;
}

.FloatCard-header-split {
  display: flex;
}

.FloatCard-header-split-item {
  flex: 0 0 auto;
}

.FloatCard-header-split-item--fill {
  flex: 1;
}

.FloatCard-header {
  padding: 20px 28px;
}

.FloatCard-heading {
  font-size: 24px;
}

.FloatCard-subheading {
  font-size: 12px;
  font-weight: 600;
  color: hsla(0,0%,50%);
  text-transform: uppercase;
  letter-spacing: .03em;
}

.FloatCard-body-segment {
  margin: 24px 0;
}

.FloatCard-body-segment--padded {
  padding-left: 28px;
  padding-right: 28px;
}

.FloatCard-header--bordered {
  border-bottom: 1px solid gainsboro;
}

.FloatCard-actions {
  padding: 20px 28px;
}

.FloatCard-actions--bordered {
  border-top: 1px solid gainsboro;
}  
