* {
  box-sizing: border-box;
}

body {
  font-family: "FreightSans Pro";
}

@color-highlight: #049fda;

@import './mdDialog.less';

@import './PreviewSheet.less';
@import './FloatCard.less';
@import './EntitySummary.less';
@import './FlatList.less';
@import './Count.less';