<pre>{{$ctrl.previewListContext.previewItem.status | json}}</pre>
<md-dialog class="mdDialog mdDialog--medium mdDialog--fullscreenScroll">
  <div
    class="mdDialog--fullscreenScroll-container"
    ng-click="$previewSheetCtrl.handleOutsideClick($event)"
    tabindex="-1"
  >
    <div
      class="mdDialog--fullscreenScroll-content"
      ng-click="$previewSheetCtrl.stopProp($event)"
      tabindex="-1"
    >
      <transclude-target
        class="PreviewSheet-transcludeTarget"
      ></transclude-target>
    </div>
  </div>
</md-dialog>
