<md-dialog class="mdDialog mdDialog--medium mdDialog--fullscreenScroll">
  <div
    class="mdDialog--fullscreenScroll-container"
    ng-click="$ctrl.handleOutsideClick($event)"
    tabindex="-1"
  >
    <div class="mdDialog--fullscreenScroll-content">
      <div class="FloatCard">
        <div class="FloatCard-header FloatCard-header--bordered">
          <div class="FloatCard-header-split">
            <div
              class="FloatCard-header-split-item FloatCard-header-split-item--fill"
            >
              <div class="FloatCard-subheading">Document Type</div>
              <div class="FloatCard-heading">Document Title</div>
            </div>
            <div class="FloatCard-header-split-item">
              <md-button class="md-icon-button" ng-click="$ctrl.cancel($event)">
                <md-icon aria-label="Close dialog">
                  <svg
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    width="24px"
                    height="24px"
                    viewBox="0 0 24 24"
                    enable-background="new 0 0 24 24"
                    xml:space="preserve"
                    stroke="currentColor"
                    class="icon"
                  >
                    <g>
                      <g>
                        <line
                          fill="none"
                          stroke="inherit"
                          stroke-width="6"
                          stroke-miterlimit="10"
                          x1="21.5"
                          y1="21.5"
                          x2="2.5"
                          y2="2.5"
                        />
                      </g>
                      <g>
                        <line
                          fill="none"
                          stroke="inherit"
                          stroke-width="6"
                          stroke-miterlimit="10"
                          x1="2.5"
                          y1="21.5"
                          x2="21.5"
                          y2="2.5"
                        />
                      </g>
                    </g>
                  </svg>
                </md-icon>
              </md-button>
            </div>
          </div>
        </div>
        <div class="FloatCard-body">
          <div class="FloatCard-body-segment FloatCard-body-segment--padded">
            <p>
              Ea dolor pariatur dolore culpa nulla elit. Non ea elit deserunt
              commodo et deserunt officia est quis nostrud nisi. Exercitation
              consequat officia magna ullamco elit qui eu enim fugiat dolor anim
              reprehenderit sint. Cupidatat ipsum qui est reprehenderit proident
              nulla magna.
            </p>
            <p>
              Consequat irure nulla veniam culpa est commodo est ad commodo non.
              Dolore eiusmod ipsum excepteur adipisicing sunt in do minim.
              Labore esse magna Lorem quis ullamco cillum tempor. Magna anim
              minim reprehenderit magna sit cillum ipsum eu nulla laboris Lorem
              exercitation nisi adipisicing. Ex adipisicing laboris ullamco esse
              quis pariatur in. Esse ipsum veniam enim in excepteur id. Id
              ullamco deserunt irure non laboris nulla.
            </p>
            <p>
              Velit velit adipisicing consectetur ad reprehenderit nulla
              occaecat. Eiusmod id enim id ad pariatur Lorem consectetur nostrud
              fugiat qui occaecat. Incididunt qui minim deserunt sunt pariatur
              eu dolore exercitation sint officia officia sint irure. Nisi velit
              labore adipisicing occaecat fugiat occaecat laboris laboris nisi.
            </p>
            <p>
              Proident commodo mollit amet velit non amet velit pariatur. Sit
              proident adipisicing in fugiat aute Lorem. Minim enim elit enim
              deserunt fugiat ex quis minim fugiat. Qui eiusmod enim minim
              consequat. Cillum culpa do ut quis ex irure ea consectetur nisi
              consequat irure officia. Nulla in consectetur anim elit ipsum sunt
              officia pariatur in.
            </p>
            <p>
              Ad deserunt consequat officia aliquip cillum reprehenderit irure
              Lorem. Dolor ullamco magna reprehenderit duis mollit aliquip
              cupidatat adipisicing. Reprehenderit tempor voluptate excepteur
              aute. Exercitation do nulla aute consequat dolor aliquip laborum
              proident consequat nisi. Veniam id incididunt eiusmod in elit
              velit esse consectetur fugiat mollit ipsum ad.
            </p>
            <p>
              Excepteur enim ut ipsum nostrud nisi ut. Sint mollit in aliqua
              amet. Quis commodo laboris tempor consectetur reprehenderit anim
              tempor aliqua nulla irure. Ad culpa dolore incididunt consequat
              deserunt incididunt. Cupidatat magna dolor pariatur voluptate
              magna. Occaecat qui consequat amet magna laboris ut exercitation
              elit tempor esse exercitation irure.
            </p>
            <p>
              Proident sit ipsum ad incididunt pariatur sit quis magna ut
              cupidatat proident consectetur irure amet. Dolor dolore eu officia
              elit duis Lorem sunt. Deserunt commodo eu exercitation voluptate.
              Ex id minim cillum nisi laborum incididunt excepteur consectetur
              eiusmod. Consequat aute deserunt deserunt ut aliqua anim nostrud
              officia ex sunt sint non et velit.
            </p>
            <p>
              Eiusmod exercitation culpa voluptate eiusmod non laboris
              voluptate. Excepteur cillum amet proident mollit eiusmod sit
              incididunt occaecat est incididunt reprehenderit nisi. Elit et
              adipisicing esse laborum velit exercitation nostrud reprehenderit
              fugiat reprehenderit. Quis do velit occaecat occaecat duis qui
              pariatur cupidatat. Nisi elit est officia sit eiusmod officia
              proident enim mollit sint irure laborum. Officia sunt velit velit
              nostrud. Lorem magna aliqua aliquip id officia quis eiusmod
              cillum.
            </p>
            <p>
              Deserunt proident ex aliqua anim irure amet consectetur laborum
              non incididunt qui quis. Sunt sit laboris nulla ad consectetur ea.
              Occaecat irure eu nulla exercitation eiusmod. Do adipisicing
              exercitation nostrud ullamco consectetur nisi veniam quis cillum
              nulla ea elit. Culpa incididunt adipisicing est ea ut Lorem
              reprehenderit cillum officia laborum.
            </p>
          </div>
        </div>
        <div class="FloatCard-actions FloatCard-actions--bordered">
          <div class="FloatCard-action">
            <button class="btn btn-default" ng-click="$ctrl.cancel()">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</md-dialog>
